body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4fdf4;
  color: #1b5e20;
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
  border-radius: 10px;
}

main {
  padding: 10px;
}

/* CABEÇALHO */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1b5e20;
  color: white;
  padding: 10px 20px;
  position: relative;
  z-index: 1100;
}

.menu-toggle {
  font-size: 30px;
  cursor: pointer;
  z-index: 1100;
}

.menu-toggle.ativo {
  transform: rotate(90deg);
  transition: transform 0.4s ease;
}

.titulo-projeto {
  display: flex;
  align-items: center;
}

.logo {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

/* MENU LATERAL */
.menu-lateral {
  position: fixed;
  right: 0;
  top: 0;
  width: 60%;
  height: 100%;
  background-color: rgba(57, 130, 61, 1);
  color: white;
  padding: 10px;
  display: flex;
  flex-direction: column;
  transform: translateX(100%);
  transition: transform 0.4s ease-in-out;
  z-index: 1000;
}

.menu-lateral.ativo {
  transform: translateX(0);
}

.menu-lateral ul {
  list-style: none;
  padding: 0;
  margin-top: 10px;
}

.menu-lateral ul li {
  border-bottom: 1px solid rgba(165, 214, 167, 0.6);
  padding: 10px 20px;
}

.menu-lateral ul li:last-child {
  border-bottom: none;
}

.menu-lateral ul li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  display: flex;
  align-items: center;
}

/* CARDS */
.cards-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 12px;
}

.card {
  background-color: #e8f5e9;
  padding: 12px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 1px 4px rgba(0, 50, 0, 0.1);
}

.card img {
  width: 100%;
  height: auto;
  margin-bottom: 8px;
}

.card p {
  font-size: 14px;
  color: #2e7d32;
  margin-bottom: 12px;
}

.card a {
  display: inline-block;
  padding: 10px 12px;
  font-size: 14px;
  border-radius: 15px;
  background-color: #388e3c;
  color: white;
  text-decoration: none;
}

.card a:hover {
  background-color: #2e7d32;
}

/* RESPONSIVO */
@media (max-width: 600px) {
  .imagem-legenda {
    flex-direction: column;
    align-items: flex-start;
  }
}

/* ANIMAÇÃO */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
